@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");

body > div {
  background-image: url(sfondo.png);
  width: 450px;
  margin: auto;
  background-position: top;
  font-family: "Poppins", sans-serif;
  padding-top: 20px;
}
/* Header section */
header {
  text-align: center;
  margin-inline: auto;
  background: rgb(0, 255, 183);
  background: linear-gradient(90deg, rgb(43, 151, 120) 22%, rgb(24, 105, 111) 54%);
  width: 320px;
  height: 250px;
  box-shadow: 18px 16px 9px -7px rgba(0, 0, 0, 0.1);
}

header div:first-of-type {
  margin-top: 25px;
  color: white;
}

header div:last-of-type {
  margin-top: 20px;
  line-height: 30px;
  color: white;
}
header div:last-of-type p:hover {
  color: red;
}
/* Main */
main {
  width: 300px;
  background-color: rgb(252, 252, 252);
  margin-top: 10px;
  padding: 10px;
  margin-inline: auto;
  box-shadow: 18px 16px 9px -7px rgba(0, 0, 0, 0.1);
}

p span {
  color: fuchsia;
}

p a {
  color: fuchsia;
}

/* TItolo */
div h1 {
  font-size: 30px;
  margin-bottom: 10px;
}
/* Intestazione */
#intestazione {
  margin-bottom: 10px;
  color: grey;
}
/* unordered list */
ul {
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 20px;
}
/* ordered list */
ol {
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 20px;
}
/* Span liste */
ul span,
ol span {
  background-color: rgb(203, 199, 199);
}

/* Tabella */
table {
  line-height: 20px;
  border-bottom: 1px solid blue;
  margin-left: 6px;
  margin-top: 20px;
  margin-bottom: 20px;
}

table caption {
  font-size: 20px;
  margin-bottom: 10px;
}

table th {
  background-color: rgb(9, 90, 241);
  height: 40px;
  text-align: center;
  vertical-align: middle;
  border-right: 1px solid rgb(246, 243, 243);
  width: 100px;
}

table tr {
  line-height: 30px;
  text-align: center;
}

tr:nth-of-type(even) {
  background-color: rgb(188, 178, 178);
}

/* video youtube */
iframe {
  border-radius: 10px;
  margin-top: 20px;
}
/* Newletter */
#Newsletter {
  background-color: rgb(203, 201, 201);
  padding: 10px;
  margin-top: 10px;
}

h2 {
  margin-bottom: 20px;
  font-size: 30px;
  text-align: center;
}

fieldset {
  margin-top: 10px;
}
/* barra email */
input {
  border-bottom: 3px dotted #ccc;
}
button {
  background-color: blue;
  color: white;
}
/* articoli correlati */
section h2 {
  font-size: 30px;
  text-align: center;
  margin-top: 10px;
}

section div {
  background-color: rgb(203, 201, 201);
  margin-top: 15px;
  height: 100px;
  line-height: 30px;
  padding: 10px;
}

section div p:last-child {
  margin-top: 10px;
  text-align: end;
}
/* footer */
footer {
  background: rgb(0, 255, 183);
  background: linear-gradient(90deg, rgb(43, 151, 120) 22%, rgb(24, 105, 111) 54%);
  width: 300px;
  background-color: white;
  margin-top: 10px;
  padding: 10px;
  text-align: center;
  margin-inline: auto;
  box-shadow: 18px 16px 9px -7px rgba(0, 0, 0, 0.1);
  color: white;
}

footer p:first-of-type {
  margin-bottom: 10px;
}

footer a {
  color: fuchsia;
}
