@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");

body > div {
  background-image: url(sfondo.png);
  width: 450px;
  margin: auto;
  background-position: top;
  font-family: "Poppins", sans-serif;
  padding-top: 20px;
}

header {
  text-align: center;
  margin-inline: auto;
  background: rgb(0, 255, 183);
  background: linear-gradient(90deg, rgb(43, 151, 120) 22%, rgb(24, 105, 111) 54%);
  width: 320px;
  height: 250px;
  box-shadow: 18px 16px 9px -7px rgba(0, 0, 0, 0.1);
}

#testo {
  margin-top: 25px;
  color: white;
}

#testo2 {
  margin-top: 20px;
  line-height: 30px;
  color: white;
}

#intestazione {
  margin-bottom: 10px;
  color: grey;
}

main {
  width: 300px;
  background-color: rgb(252, 252, 252);
  margin-top: 10px;
  padding: 10px;
  margin-inline: auto;
  box-shadow: 18px 16px 9px -7px rgba(0, 0, 0, 0.1);
}

div h1 {
  font-size: 30px;
  margin-bottom: 10px;
}

ul {
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 20px;
}

ol {
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 20px;
}

table {
  line-height: 20px;
  border-bottom: 1px solid blue;
  margin-left: 6px;
  margin-top: 20px;
  margin-bottom: 20px;
}

table th {
  background-color: rgb(9, 90, 241);
  height: 40px;
  text-align: center;
  vertical-align: middle;
  border-right: 1px solid rgb(246, 243, 243);
  width: 100px;
}

table tr {
  line-height: 30px;
  text-align: center;
}

table caption {
  font-size: 20px;
  margin-bottom: 10px;
}

iframe {
  border-radius: 10px;
  margin-top: 20px;
}

#Newsletter {
  background-color: rgb(203, 201, 201);
  padding: 10px;
  margin-top: 10px;
}

#Newsletter fieldset {
  margin-top: 10px;
}

#Newsletter h2 {
  margin-bottom: 20px;
}

form {
  margin-left: 8px;
}
input {
  border-bottom: 3px dotted #ccc;
}
button {
  background-color: blue;
  color: white;
}

section div {
  background-color: rgb(203, 201, 201);
  margin-top: 15px;
  height: 100px;
  line-height: 30px;
  padding: 10px;
}

section div p:last-child {
  margin-top: 10px;
  text-align: end;
}

footer {
  background: rgb(0, 255, 183);
  background: linear-gradient(90deg, rgb(43, 151, 120) 22%, rgb(24, 105, 111) 54%);
  width: 300px;
  background-color: white;
  margin-top: 10px;
  padding: 10px;
  text-align: center;
  margin-inline: auto;
  box-shadow: 18px 16px 9px -7px rgba(0, 0, 0, 0.1);
  color: white;
}

#margin {
  margin-right: 100px;
}

#grassetto {
  font-size: 30px;
  text-align: center;
}

#grassetto1 {
  font-size: 30px;
  text-align: center;
  margin-top: 10px;
}

#copyright {
  margin-bottom: 10px;
}

footer a {
  color: fuchsia;
}

#grey {
}

tr:nth-of-type(even) {
  background-color: rgb(188, 178, 178);
}

p span {
  color: fuchsia;
}

p a {
  color: fuchsia;
}

ul span,
ol span {
  background-color: rgb(203, 199, 199);
}
